---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="prose prose-zinc py-12">
    <h1>Disclaimer</h1>
    <p>
      Some of the content on this website has been created or refined with the
      assistance of ChatGPT-4o, an AI language model developed by OpenAI. All
      AI-generated content has been carefully reviewed and verified by the
      authors to ensure accuracy, relevance, and clarity. While we strive for
      high standards, this content should not be considered a substitute for
      expert or professional advice.
    </p>
  </article>
</Layout>
