---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="prose prose-zinc py-12">
    <h1>ESA Climate Detectives – Le Rosey</h1>

    <p>
      We are a team of students from Institut Le Rosey in Switzerland, united by
      a deep commitment to combating climate change and making a meaningful
      contribution to our planet's future.
    </p>

    <h2>Our Mission</h2>
    <p>
      Our mission is to raise awareness about climate change and to empower
      young people to take informed, purposeful action. We believe that
      meaningful change begins with individual initiative, and we are dedicated
      to doing our part to safeguard the environment for future generations.
    </p>

    <h2>Our Team</h2>
    <p>
      Our team is composed of motivated and passionate students from diverse
      cultural and academic backgrounds. Each member brings unique strengths and
      perspectives, allowing us to approach environmental challenges with
      creativity, collaboration, and scientific curiosity. Together, we strive
      to develop innovative, research-based solutions that promote
      sustainability and positive environmental impact.
    </p>
  </article>
</Layout>
