---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="prose prose-zinc py-12">
    <h1>ESA Climate Detective LeRosey</h1>
    <p>
      We are a bunch of students in LeRosey, Switzerland that are passionate
      about climate change and want to make a difference.
    </p>
    <p>
      Our mission is to raise awareness about climate change and inspire young
      people to take action. We believe that every individual can make a
      difference, and we are committed to doing our part to protect the planet.
    </p>
    <h2>Our Team</h2>
    <p>
      Our team consists of passionate individuals who are dedicated to making a
      difference in the fight against climate change. We come from diverse
      backgrounds and bring a range of skills and experiences to our work.
    </p>
    <h2>The Mission</h2>
    <p>
      Our mission is to raise awareness about climate change and inspire young
      people to take action. We believe that every individual can make a
      difference, and we are committed to doing our part to protect the planet.
    </p>
  </article>
</Layout>
