---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import safety from "../assets/safety.png?url";
---

<Layout>
  <div class="flex justify-center w-full">
    <Image
      src={safety}
      alt="Avalanche Safety Guide"
      width={800}
      height={2000}
      class="object-cover opacity-0 transition-opacity duration-500 w-full max-w-xl"
      onload="this.classList.add('opacity-100')"
      loading="eager"
    />
  </div>
  <article class="prose prose-zinc max-w-xl pt-24">
    <h1>Avalanche Safety Guide Poster</h1>
    <p>
      This poster provides a concise yet comprehensive overview of essential
      avalanche safety information, including:
    </p>
    <ul>
      <li>
        <strong>Slope Angles:</strong> Identifies the slope angles most prone to
        avalanches.
      </li>
      <li>
        <strong>Avalanche Indicators:</strong> Highlights indicators of avalanche
        activity, such as distinct sounds.
      </li>
      <li>
        <strong>Critical Equipment:</strong> Outlines the necessary equipment to
        stay prepared in high-risk areas.
      </li>
    </ul>
    <p>
      A link to the complete guide will be provided once the survey is
      completed.
    </p>
    <p>
      By highlighting the conditions under which avalanches occur and the
      measures necessary to avoid or mitigate their impact, this resource
      empowers individuals to make informed decisions, enhances overall safety
      awareness, and ultimately has the potential to save lives in winter sports
      environments.
    </p>
  </article>
  <object
    data={"/climate/summary.pdf"}
    type="application/pdf"
    width="100%"
    height="100%"
    class="aspect-[1/1.414] max-w-2xl mx-auto py-8"
    ><p>
      Your browser does not support PDFs.
      <a href={"/climate/summary.pdf"} download>Download the PDF</a> to view it.
    </p></object
  >
  <a class="underline hover:cursor-pointer" href={"/climate/summary.pdf"}
    >View it in your native browser.</a
  >
  <article class="prose prose-zinc max-w-xl pt-24">
    <h1>Research Poster Overview</h1>
    <p>
      This research poster investigates how seasonal temperature changes and
      winter tourism affect avalanche frequency and type in Davos, Switzerland.
      It combines climate data, tourism statistics, and avalanche records to
      identify key patterns. The study also examines public awareness through
      surveys and interactive quizzes, Educational outreach efforts included
      multilingual posters, digital quizzes, social media campaigns, and
      gamified learning tools to promote avalanche safety and risk awareness.
      The poster highlights the importance of proactive safety measures,
      improved forecasting, and accessible equipment as climate change continues
      to alter snow stability and avalanche behavior in alpine regions.
    </p>
  </article>
</Layout>
