---
import Layout from "../layouts/Layout.astro";
import Content from "../data/articles/presentation.md";
import presentation from "../assets/presentation.pdf";
---

<Layout>
  <article class="prose prose-zinc w-full">
    <object
      data={presentation}
      type="application/pdf"
      width="100%"
      height="100%"
      class="aspect-[8/9] pb-24"
      ><p>
        Your browser does not support PDFs.
        <a href={presentation}>Download the PDF</a> to view it.
      </p></object
    >
    <Content />
  </article>
</Layout>
