---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article
    class="flex flex-col gap-8 items-center prose prose-zinc w-full h-screen"
  >
    <object
      data={"research.pdf"}
      type="application/pdf"
      width="100%"
      height="100%"
      class="size-full"
      ><p>
        Your browser does not support PDFs.
        <a href={"research.pdf"} download>Download the PDF</a> to view it.
      </p></object
    >
    <a class="underline hover:cursor-pointer" href={"research.pdf"}
      >View it in your native browser.</a
    >
  </article>
</Layout>
